.item-card {
    @media (max-width: 529px) {
        margin: 10px;
    }
    @media (min-width: 530px) {
        max-width: 200px;
        margin: 5px;
    }
    .img-container {
        height: 150px;
        overflow: hidden;
    }
    mat-card-content {
        height: 150px;
        overflow-y: scroll;
        margin-top: 10px;
        margin-bottom: 0;
        mat-card-subtitle {
            display: flex;
            flex-wrap: nowrap;
            font-size: 18px;
            margin-bottom: 0;
            .fav-icon-container {
                margin: 0 5px;
                height: 20px;
                width: 20px;
                svg {
                    cursor: pointer;
                    height: 18px;
                    fill: #808080;
                }
            }
        }
        .email-container {
            color: #808080;
        }
    }
}
