<div class="manager-container">
  <div class="search-bar">
    <div class="main-component-container">
      <app-search (searchEvent)="onSearch($event)"></app-search>
    </div>
  </div>
  <div class="body-container">
    <div class="main-component-container sub-header-container">
      <app-sorting (sortEvent)="onSort($event)"></app-sorting>
      <app-show-favs [favItems]="favItems"></app-show-favs>
    </div>
    <div class="main-component-container purple-rounded-container items-container">
      <app-item (setFav)="onSetFavItem($event)" *ngFor="let item of loadedItems" [item]="item"></app-item>
    </div>
    <mat-paginator class="main-component-container" [length]="searchResults.length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="onPageEvent($event)">
    </mat-paginator>
  </div>
</div>

