
.manager-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .main-component-container {
        width: 100%;
        max-width: 1080px; 
	    margin: 5px auto;
    }
    .body-container {
        width: 100%;
        margin: 0 5px;
        .purple-rounded-container {
            background-color: #ebedf5; 
            border-radius: 10px;
        }
        .items-container {
            padding: 10px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .sub-header-container {
            width: fit-content;
            display: flex;
            flex-wrap: nowrap;
            app-show-favs, button {
                align-self: center;
                margin-right: 10px;
            }
        }
    }
    .search-bar {
        width: 100%;
        background-color:#3c4877;
        top: 0;
        z-index: 3;
        @media (min-width: 529px) {
            position: sticky;
        }
    }
}
