<div class="sorting-container">
  <mat-form-field>
    <mat-select (selectionChange)="onOptionSelected($event)">
      <mat-option value="title">Title</mat-option>
      <mat-option value="description">Description</mat-option>
      <mat-option value="price">Price</mat-option>
      <mat-option value="email">Email</mat-option>
    </mat-select>
    <mat-label><b>Sort by</b></mat-label>
  </mat-form-field> 
</div>