.img-container {
    height: 50px;
    width: 50px;
    overflow: hidden;
    margin-right: 15px;
}
svg {
    cursor: pointer;
    height: 20px;
    fill: #808080;
}
.list-container {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    .list-item {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        margin: 5px 0;
        .item-title {
            align-self: center;
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .remove-fav {
            align-self: center;
        }
    }
}
.search-form {
    margin: 10px;
    mat-form-field {
        width: 200px;
    }
    button {
        margin: 0 5px;
    }
}