<div mat-subheader>Favourites</div>
<div class="search-form">
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()"class="inputs-container">
    <mat-form-field class="example-full-width">
      <mat-label>Search by title:</mat-label>
      <input matInput placeholder="Ex. iPhone..." formControlName="title">
    </mat-form-field>
    <button class="form-field" mat-raised-button type="submit" [disabled]="!searchForm.valid">Search</button>
  </form>
</div>
<div class="list-container">
  <div class="list-item" *ngFor="let item of searchResults; let i = index">
    <div class="img-container">
      <img mat-card-image src="{{ item.image }}" alt="Item picture">
    </div>
    <div class="item-title">
      {{item.title}}
    </div>
    <div class="remove-fav" (click)="removeFav(item, i)">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
		<path d="M425.298,51.358h-91.455V16.696c0-9.22-7.475-16.696-16.696-16.696H194.854c-9.22,0-16.696,7.475-16.696,16.696v34.662
			H86.703c-9.22,0-16.696,7.475-16.696,16.696v51.357c0,9.22,7.475,16.696,16.696,16.696h338.593c9.22,0,16.696-7.475,16.696-16.696
			V68.054C441.993,58.832,434.518,51.358,425.298,51.358z M300.45,51.358h-88.9V33.391h88.9V51.358z"/>
		<path d="M93.192,169.497l13.844,326.516c0.378,8.937,7.735,15.988,16.68,15.988h264.568c8.945,0,16.302-7.051,16.68-15.989
			l13.843-326.515H93.192z M205.53,444.105c0,9.22-7.475,16.696-16.696,16.696c-9.22,0-16.696-7.475-16.696-16.696V237.391
			c0-9.22,7.475-16.696,16.696-16.696c9.22,0,16.696,7.475,16.696,16.696V444.105z M272.693,444.105
			c0,9.22-7.475,16.696-16.696,16.696s-16.696-7.475-16.696-16.696V237.391c0-9.22,7.475-16.696,16.696-16.696
			s16.696,7.475,16.696,16.696V444.105z M339.856,444.105c0,9.22-7.475,16.696-16.696,16.696s-16.696-7.475-16.696-16.696V237.391
			c0-9.22,7.475-16.696,16.696-16.696s16.696,7.475,16.696,16.696V444.105z"/>
      </svg>
    </div>
  </div>
</div>