
.inputs-container {
    margin: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    .form-field {
        flex-grow: 1;
        margin: 5px 5px;
        border-radius: 15px;
        height: 36px;
    }
    input {
        border: none;
        padding: 0 15px;
        @media (max-width: 529px) {
            width: 100%;
        }
        &:focus {
            outline: none;
        }
    }
}