<form class="inputs-container" [formGroup]="searchForm" (ngSubmit)="onSearch()">
  <input class="form-field" id="title" formControlName="title" placeholder="Title">
  <input class="form-field" id="email" formControlName="email" placeholder="Email">
  <input class="form-field" id="price" type="number" formControlName="price" placeholder="Price">
  <input class="form-field" id="description" formControlName="description" placeholder="Description">
  <button class="form-field" mat-raised-button type="submit" [disabled]="!searchForm.valid">Search</button>
</form>